---
import { changeLanguage } from "i18next";
// @ts-ignore
import { localizePath } from "astro-i18next";
import Button from "../../components/BlogButton.astro";
import WordpressFetcher from "../../components/WordpressFetcher";

changeLanguage("en");
---

<div class="title">
	<h2>Blog</h2>
</div>
<div class="content">
	<WordpressFetcher numberOfPosts={1} client:idle/>
	<Button label="Berlin 2024" href={localizePath("/BlogPage/")}/>
</div>

<style>
	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 1rem;
		padding: 1rem;
	}
</style>
