---
import { changeLanguage } from "i18next";
// @ts-ignore
import { localizePath } from "astro-i18next";
import Button from "../../components/BlogButton.astro";

changeLanguage("en");

export const prerender = false;
---

<div class="title">
	<h2>Blog</h2>
</div>
<div class="posts">
	<div id="posts-container" class="flex-row rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" />
</div>
<div class="button">
	<Button label="Berlin 2024" href={localizePath("/BlogPage/")}/>
</div>

<style>
	.posts {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0.25rem 1rem;
		padding: 0.5rem;
	}
	.button {
		display: flex;
		justify-content: center;
		margin: 1.5rem 0.25rem;
		padding: 1rem;
	}
</style>

<script>
    async function fetchAndRenderPosts() {
        const response = await fetch(`/api/wordpress?site=pittbusinesstotheworld.com&author=651&limit=1`);
        const posts = await response.json();
        const container = document.getElementById('posts-container');
    
        if (container) {
			if (posts.length > 0) {
				const post = posts[0];
				const postElement = document.createElement('div');
				postElement.className = 'p-4';
				postElement.innerHTML = `
				<h2 class="text-left m-0 mb-2 font-bold">${post.title}</h2>
				<p class="m-0 text-gray-400">${post.excerpt}</p>
				<a href=${post.link} class="button flex flex-row items-center justify-center w-32 mx-auto mt-4 py-3 px-4 bg-[#282935] rounded-full transition-all duration-200 shadow-md hover:scale-105 active:scale-100" target="_blank">
					<p class="text-fill whitespace-nowrap">Read More</p>
				</a>
				`;
				container.appendChild(postElement);
			}
        }
    }
    fetchAndRenderPosts();
</script>
