---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found...">
  <div class="flex flex-col items-center gap-2">
    <h1 class="mb-2">Uh oh...</h1>
    <p>That page doesn't exist. Let's get you back home.</p>
    <a href="/" class="text-link m-8">Click Here</a>
  </div>
</Layout>
