---
// @ts-ignore
import { localizePath } from "astro-i18next";
import Layout from "../layouts/Layout.astro";
import Button from "../components/BackButton.astro";
import WordpressFetcher from "../components/WordpressFetcher.tsx";
import { t } from "i18next";
---

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .btn-container {
    margin: 2rem;
  }
</style>

<Layout title="Blog">
  <div class="content">
    <div class="btn-container">
      <Button label={t("misc.backBtn")} href={localizePath("/")} />
    </div>
    <WordpressFetcher client:load />
  </div>
</Layout>
