---
// @ts-ignore
import { localizePath } from "astro-i18next";
import Button from "../components/BlogButton.astro"
import WordpressPreview from "../components/WordpressPreview.tsx";
---

<div class="title">
	<h2>Blog</h2>
</div>
<div class="posts">
	<WordpressPreview numberOfPosts={1} client:idle/>
</div>
<div class="button">
	<Button label="Berlin 2024" href={localizePath("/BlogPage/")}/>
</div>

<style>
	.title {
		margin: 1cap;
	}
	.posts {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1rem;
		padding: 1rem;
	}
	.button {
		display: flex;
		justify-content: center;
		margin: 0.25rem;
		padding: 1rem;
	}
</style>
