---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import DashboardTabs from "../components/dashboard/DashboardTabs.tsx";
---

<Layout title="Dashboard - Liam Sullivan">
  <section class="container">
    <h1>Dashboard</h1>
    <DashboardTabs client:load />
  </section>

  <style>
    .container {
      max-width: 1000px;
      margin: 2rem auto;
      padding: 1rem;
    }
    h1 {
      margin-bottom: 2rem;
      text-align: center;
      font-size: 2.5rem;
      font-weight: bold;
      color: white;
    }
  </style>
</Layout>
