---
// @ts-ignore
import { localizePath } from "astro-i18next";
import { Trans } from "astro-i18next/components";
import { t } from "i18next";
import ArrowLink from "../components/ArrowLink.astro";
---

<ul class="main-list">
  <li class="main-list-item">
    <div class="item-border"></div>
    <div class="main-list-header">
      <Trans i18nKey="experience.content1.title"><h3>HS-Experts</h3></Trans>
      <Trans i18nKey="experience.content1.position"
        ><p><i>Web Development Intern</i></p></Trans
      >
    </div>
    <ul class="sub-list">
      <Trans i18nKey="experience.content1.description">
        <li class="sub-list-item">
          <p>
            Used WordPress' Elementor CMS to build and maintain website
            components.
          </p>
        </li>
        <li class="sub-list-item">
          <p>
            Swapped raster graphics for vector-based ones and fixed bugs in
            responsiveness.
          </p>
        </li>
      </Trans>
    </ul>
  </li>
  <li class="main-list-item">
    <div class="item-border"></div>
    <div class="main-list-header">
      <Trans i18nKey="experience.content2.title"
        ><h3>PPG Primers Program</h3></Trans
      >
      <Trans i18nKey="experience.content2.position"><p><i>Intern</i></p></Trans>
    </div>
    <ul class="sub-list">
      <Trans i18nKey="experience.content2.description">
        <li class="sub-list-item">
          <p>
            Attended a week-long program defined by industry leader talks,
            workshops, and networking opportunities to advance knowledge and
            skills in technology.
          </p>
        </li>
        <li class="sub-list-item">
          <p>
            Developed interpersonal skills through group team building
            exercises.
          </p>
        </li>
      </Trans>
    </ul>
  </li>
  <li class="main-list-item">
    <div class="item-border"></div>
    <div class="main-list-header">
      <Trans i18nKey="experience.content3.title"><h3>The Pitt News</h3></Trans>
      <Trans i18nKey="experience.content3.position"
        ><p><i>Staff Photographer</i></p></Trans
      >
    </div>
    <ul class="sub-list">
      <Trans i18nKey="experience.content3.description">
        <li class="sub-list-item">
          <p>Shoots event photography on-site based on story assignments.</p>
        </li>
        <li class="sub-list-item">
          <p>
            Attends weekly budget meetings and larger organizational
            conferences.
          </p>
        </li>
      </Trans>
    </ul>
  </li>
  <ArrowLink href={localizePath("/Resume/")} label={t("experience.viewAll")} />
</ul>

<style>
  .main-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    gap: 3rem;
  }
  .main-list-item {
    align-items: center;
    padding: 1.5rem;
    border: 1px solid #353535;
    background-color: #181818;
    border-radius: 15px;
  }

  .main-list-item h3 {
    font-weight: bold;
  }

  .main-list-item p {
    color: #d0d0d0;
  }

  .main-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 500px) {
    .main-list-header {
      flex-direction: column;
      align-items: start;
    }
  }

  .main-list-header p {
    text-align: right;
  }

  .sub-list-item {
    list-style-type: circle;
    margin: 0.5rem 2rem;
  }
</style>
