---
import Layout from "../layouts/Layout.astro";
import BackLink from "../components/BackLink.astro";
import WordpressFetcher from "../components/editorial/BerlinFetcher.tsx";
import LocalFetcher from "../components/editorial/LocalFetcher.tsx";
import { t } from "i18next";
import { Trans } from "astro-i18next/components";
// @ts-ignore
import { localizePath } from "astro-i18next";
import Footer from "../layouts/Footer.astro";
import TPNFetcher from "../components/editorial/TPNFetcher.tsx";
---

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 2rem;
  }
</style>

<Layout title="Other Work - Liam Sullivan">
  <div class="content">
    <BackLink label={"Back"} href={localizePath("/")} />
    <Trans i18nKey="archive.header">
      <h1 class="my-20 text-5xl font-bold">Other Work</h1>
    </Trans>
    <div class="mx-auto mb-16 flex flex-col">
      <Trans i18nKey="archive.layouts">
        <p class="text-md mb-2 font-bold uppercase">Layouts</p>
      </Trans>
      <LocalFetcher
        lang={t("misc.lang") as string}
        category={"layouts"}
        client:load
      />
    </div>
    <div class="mx-auto mb-16 flex flex-col">
      <Trans i18nKey="archive.graphicDesign">
        <p class="text-md mb-2 font-bold uppercase">Graphic Design</p>
      </Trans>
      <LocalFetcher
        lang={t("misc.lang") as string}
        category={"graphic-design"}
        client:load
      />
    </div>
    <div class="mx-auto mb-16 flex flex-col">
      <Trans i18nKey="archive.presentations">
        <p class="text-md mb-2 font-bold uppercase">Design Club</p>
      </Trans>
      <LocalFetcher
        lang={t("misc.lang") as string}
        category={"presentations"}
        client:load
      />
    </div>
    <div class="mx-auto flex flex-col pb-28">
      <Trans i18nKey="archive.blog">
        <p class="text-md mb-2 font-bold uppercase">Cooking</p>
      </Trans>
      <LocalFetcher
        lang={t("misc.lang") as string}
        category={"cooking"}
        client:load
      />
    </div>
    <div class="mx-auto flex flex-col pb-28">
      <Trans i18nKey="archive.blog">
        <p class="text-md mb-2 font-bold uppercase">Berlin</p>
      </Trans>
      <WordpressFetcher client:load />
    </div>
    <div class="mx-auto flex flex-col pb-28">
      <Trans i18nKey="archive.blog">
        <p class="text-md mb-2 font-bold uppercase">The Pitt News</p>
      </Trans>
      <TPNFetcher client:load />
    </div>
  </div>
  <Footer />
</Layout>
