---
// @ts-ignore
import { localizePath } from "astro-i18next";
import { Trans } from "astro-i18next/components";
import { t } from "i18next";
import Carousel from "../components/FlickrCarousel.jsx";
import Button from "../components/ForwardButton.astro";
const apiKey = import.meta.env.FLICKR_API_KEY;
const userId = import.meta.env.FLICKR_USER_ID;
---

<div class="content">
  <Carousel {apiKey} {userId} lang={t("misc.lang")} client:idle />
  <div class="end">
    <a class="link" href={localizePath("/PortfolioPage/")}
      >{t("photography.viewAll")}</a
    >
  </div>
</div>

<style>
  :root {
    --card-title: #94b8f9;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    margin: 1rem;
    padding: 1rem 2rem;
    gap: 3rem;
  }
  .end {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  a {
    width: fit-content;
    color: #b0b0b0;
    font-size: 14px;
    font-weight: 700;
  }

  a:hover {
    color: #fff;
  }
</style>
