---
import "../styles/badge.css";

interface Props {
  text: string;
  href?: string;
}

const { text, href }: Props = Astro.props;
const Component = href ? "a" : "div";
---

<Component
  class="badge"
  href={href}
  target={href ? "_blank" : undefined}
  rel={href ? "noopener noreferrer" : undefined}
  aria-label={href ? `Learn more about ${text}` : undefined}
>
  <div class="badge-icon">
    <slot />
  </div>
  <div class="badge-text">
    {text}
  </div>
</Component>
