<ul>
  <li><a href="en">EN</a></li>
  <li><a href="de">DE</a></li>
</ul>
<style>
  ul {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 175px;
  }
  li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
  }
  a {
    color: #fff;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: #fff;
    text-underline-offset: 2px;
    font-weight: 700;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    cursor: pointer;
  }

  @media (hover: hover) {
    a {
      text-decoration: none;
    }
    a:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #fff;
      transition:
        width 0.2s ease 0s,
        left 0.2s ease 0s;
      width: 0;
    }
    a:hover:after {
      width: 100%;
      left: 0;
    }
  }
  @media screen and (max-height: 300px) {
    ul {
      margin-top: 40px;
    }
  }
  @media screen and (max-width: 1600px) {
    ul {
      position: absolute;
    }
  }
</style>
