---
import { Image } from "astro:assets";

interface Props {
  contentImage: ImageMetadata;
  phoneImage: ImageMetadata;
}

const { contentImage, phoneImage } = Astro.props;
---

<div class="mockup-container">
  <div class="mockup-content">
    <Image src={contentImage} alt={"Mobile View"} width={300} height={533} />
  </div>
  <Image
    src={phoneImage}
    alt={"iPhone"}
    class="mockup-phone"
    width={300}
    height={533}
  />
  <div
    class="absolute right-0 top-4 z-30 flex h-10 items-center gap-1 rounded-lg border border-[#333] bg-[#1a1a1a] p-3"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      ><g fill="#e0e0e0"
        ><path
          d="m9.172 16.818l-1.415 1.414L12 22.475l4.243-4.243l-1.415-1.414L12 19.647zm5.656-9.636l1.415-1.414L12 1.525L7.757 5.768l1.415 1.414L12 4.354z"
        ></path><path
          fill-rule="evenodd"
          d="M12 9a3 3 0 1 1 0 6a3 3 0 0 1 0-6m0 2a1 1 0 1 1 0 2a1 1 0 0 1 0-2"
          clip-rule="evenodd"></path></g
      ></svg
    >
    <p class="m-0 text-sm font-medium text-[#e0e0e0]">Scroll Me!</p>
  </div>
</div>

<style>
  /* Broken on Safari... disable for now */
  @supports (hanging-punctuation: first) and (font: -apple-system-body) and
    (-webkit-appearance: none) {
    .mockup-container,
    .mockup-content,
    .mockup-phone {
      display: none;
    }
  }

  .mockup-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    aspect-ratio: 9/16;
  }

  .mockup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 270px;
    height: auto;
    aspect-ratio: 9/16;
    overflow-y: auto;
    z-index: 1;
    scrollbar-width: none;
  }

  .mockup-content::-webkit-scrollbar {
    display: none;
  }

  .mockup-phone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
    pointer-events: none;
    aspect-ratio: 9/16;
  }

  @media (max-width: 1024px) {
    .mockup-content {
      transform: translate(-50%, -50%);
    }
  }
</style>
