---
interface Props {
  projectRole: string[];
  team: string[];
  tools: string[];
  timeline: string[];
}

const { projectRole, team, tools, timeline }: Props = Astro.props;
---

<div
  class="my-12 ml-8 grid w-full grid-cols-2 justify-between gap-8 md:ml-16 md:grid-cols-4"
>
  <div class="flex flex-col items-start">
    <h2 class="mx-0 text-left font-semibold text-white">Project Role</h2>
    <ul class="list-none text-[#D0D0D0]">
      {projectRole.map((role) => <li>{role}</li>)}
    </ul>
  </div>
  <div class="flex flex-col items-start md:pl-4">
    <h2 class="mx-0 text-left font-semibold text-white">Team</h2>
    <ul class="list-none text-[#D0D0D0]">
      {team.map((member) => <li>{member}</li>)}
    </ul>
  </div>
  <div class="flex flex-col items-start">
    <h2 class="mx-0 text-left font-semibold text-white">Tools</h2>
    <ul class="list-none text-[#D0D0D0]">
      {tools.map((tool) => <li>{tool}</li>)}
    </ul>
  </div>
  <div class="flex flex-col items-start">
    <h2 class="mx-0 text-left font-semibold text-white">Timeline</h2>
    <ul class="list-none text-[#D0D0D0]">
      {timeline.map((time) => <li>{time}</li>)}
    </ul>
  </div>
</div>
