---
// @ts-ignore
import { localizePath } from "astro-i18next";
import { t, changeLanguage } from "i18next";
import WordpressPreview from "../../components/WordpressPreview.tsx";
import ArrowLink from "../../components/ArrowLink.astro";

changeLanguage("de");
---

<div class="posts">
  <WordpressPreview numberOfPosts={1} client:idle />
  <ArrowLink href={localizePath("/BlogPage/")} label={t("blog.viewAll")} />
</div>

<style>
  .posts {
    display: flex;
    flex-direction: row;
    margin: 0.25rem 1rem;
    padding: 0.5rem;
    gap: 4rem;
  }

  @media (max-width: 768px) {
    .posts {
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
