---
import { changeLanguage } from "i18next";
// @ts-ignore
import { localizePath } from "astro-i18next";
import Button from "../../components/BlogButton.astro";
import WordpressPreview from "../../components/WordpressPreview.tsx";

changeLanguage("de");
---

<div class="title">
	<h2>Blog</h2>
</div>
<div class="posts">
	<WordpressPreview numberOfPosts={1} client:idle/>
</div>
<div class="button">
	<Button label="Berlin 2024" href={localizePath("/BlogPage/")}/>
</div>

<style>
	.posts {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0.25rem 1rem;
		padding: 0.5rem;
	}
	.button {
		display: flex;
		justify-content: center;
		margin: 1.5rem 0.25rem;
		padding: 1rem;
	}
</style>
