---
// @ts-ignore
import { localizePath } from "astro-i18next";
import { t, changeLanguage } from "i18next";
import Button from "../../components/BlogButton.astro";
import WordpressPreview from "../../components/WordpressPreview.tsx";

changeLanguage("de");
---

<div class="posts">
  <WordpressPreview numberOfPosts={1} client:idle />
  <div class="space-right">
    <a class="link" href={localizePath("/BlogPage/")}>{t("blog.viewAll")}</a>
  </div>
</div>

<style>
  .posts {
    display: flex;
    flex-direction: row;
    margin: 0.25rem 1rem;
    padding: 0.5rem;
    gap: 4rem;
  }
  .space-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    margin: 1rem 2rem;
  }

  .link {
    width: fit-content;
    color: #b0b0b0;
    font-size: 14px;
    font-weight: 700;
  }

  .link:hover {
    color: #fff;
  }

  @media (max-width: 768px) {
    .posts {
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
