---
// @ts-ignore
import { localizePath } from "astro-i18next";
import Layout from "../../layouts/Layout.astro";
import BackLink from "../../components/BackLink.astro";
import WordpressFetcher from "../../components/WordpressFetcher.tsx";
import { t, changeLanguage } from "i18next";

changeLanguage("de");
---

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .btn-container {
    margin: 2rem;
  }
</style>

<Layout title="Blog">
  <div class="content">
    <div class="btn-container">
      <BackLink label={t("misc.backBtn")} href={localizePath("/")} />
    </div>
    <div class="mb-8 text-left">
      <h1 class="mb-2 text-2xl font-bold">Berlin</h1>
      <div class="mx-auto h-[1px] w-32 bg-[#333]"></div>
    </div>
    <WordpressFetcher client:load />
  </div>
</Layout>
