---
import { Trans } from "astro-i18next/components";
import { t, changeLanguage } from "i18next";
import Carousel from "../../components/FlickrCarousel.jsx";
import Button from "../../components/ForwardButton.astro";

changeLanguage("de");

const apiKey = import.meta.env.FLICKR_API_KEY;
const userId = import.meta.env.FLICKR_USER_ID;
---

<div class="title">
	<Trans i18nKey="photography.header"><h2>Photography</h2></Trans>
</div>
<div class="content">
	<Carousel {apiKey} {userId} lang={t("misc.lang")} client:idle />
	<Button label={t("photography.viewAll")} href="/PortfolioPage/" icon='<svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 24 24"><path fill="white" d="M12 9c-1.626 0-3 1.374-3 3s1.374 3 3 3s3-1.374 3-3s-1.374-3-3-3"/><path fill="white" d="M20 5h-2.586l-2.707-2.707A.996.996 0 0 0 14 2h-4a.996.996 0 0 0-.707.293L6.586 5H4c-1.103 0-2 .897-2 2v11c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2m-8 12c-2.71 0-5-2.29-5-5s2.29-5 5-5s5 2.29 5 5s-2.29 5-5 5"/></svg>'/>
</div>

<style>
	:root {
		--card-title: #94b8f9;
	}
	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		list-style-type: none;
		width: 100%;
		margin: 1rem;
		padding: 1rem;
		gap: 2.5rem;
	}
</style>
